<% include header.html %>

<div class='container'>
	<form method='post'>
		<h3>Log In</h3>
		<input name='email'
				placeholder='Your Email' 
				class='form-control'
				autofocus
				required>
		<input name='password'
				type='password'
				placeholder='Your Password' 
				class='form-control'
				required>
		<button class='btn btn-primary'>Log In</button>
	</form>
</div>

<style>
	form { max-width: 320px; margin: 2rem auto; }
	input { margin-bottom: 0.5rem; }
</style>

<% include footer.html %>